<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Mrhzk_todos</title>
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body ng-app="myapp">

		<ng-view></ng-view>
		<script type="text/ng-template" id="imfor">
			<section class="todoapp">
				<header class="header">
					<form ng-submit="add()">
						<h1>todos </h1>
						<input class="new-todo" placeholder="What needs to be done?" ng-model="text" autofocus>
					</form>
				</header>
				<section class="main">
					<input class="toggle-all" type="checkbox" ng-click="isAllCompleted()">
					<label for="toggle-all">Mark all as complete</label>
					<ul class="todo-list">
						<li ng-repeat="item in todos | filter : selector:determine track by $index" ng-class="{completed:item.completed, editing:item.id === editingId}"  data-id="{{item.id}}">
							<div class="view">
								<input class="toggle" type="checkbox" ng-model="item.completed" ng-change="change()" >

								<label ng-dblclick="edit(item.id)" >{{item.text}}</label>
								<button class="destroy " ng-click="delete(item.id)" ></button>
							</div>
							<form ng-submit="cancelEdit()">
								<input class="edit" ng-model="item.text" >
							</form>
						</li>
					</ul>
				</section>

				<!-- This footer should hidden by default and shown when there are todos -->
				<footer class="footer" ng-if="todos.length  ">
					<!-- This should be `0 items left` by default -->
					<span class="todo-count">{{todos.length}} item left</span>
					<!-- Remove this if you don't implement routing -->

					<ul class="filters">
						<li>
							<a ng-class="{selected:status === undefined}"  href="#/" ng-click="filterList()">All</a>
						</li>
						<li>
							<a ng-class="{selected:status === 'active'}" href="#/active"  ng-click="filterList()">Active</a>
						</li>
						<li>
							<a ng-class="{selected:status === 'completed'}" href="#/completed"  ng-click="filterList()">Completed</a>
						</li>
					</ul>
					<!-- Hidden if no completed items are left ↓ -->
					<button class="clear-completed" ng-click="clear()"  ng-if="isClear()">Clear completed</button>
				</footer>
			</section>
		</script>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<script src="node_modules/angular/angular.js"></script>
		<script src="node_modules/angular-route/angular-route.js"></script>
		<script src="js/service/main.js"></script>
		<script src="js/controller/main.js"></script>
		<script src="js/zj.js"></script>
		<!--<script src="js/app.js"></script>-->
	</body>
</html>
